html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f9fc;
}

/* Auth & AuthForm */

#title {
    padding: 20px 16px;
    display: flex;
    align-items: center;
}

#title span {
    font-size: 35px;
    font-weight: 800;
}

#title #title__icon {
    padding-right: 10px;
    color:rgb(29, 161, 242);
}

#error {
    margin: 8px 16px;
    text-align: center;
    background-color: rgb(255, 210, 218);
    border-radius: 15px;
}

#email-password-form {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-password-form #email, #email-password-form #password {
    margin: 12px 16px;
    width: 320px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}

#email-password-form #email:focus, #email-password-form #password:focus {
    outline: 1px solid rgb(29, 161, 242);
    outline-style: auto;
}

#email-password-form #submit {
    margin: 12px 16px;
    width: 325px;
    height: 45px;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: 22px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#email-password-form #submit:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: rgb(26, 145, 218);
}

#email-password-form #submit:active {
    transform: scale(0.98);
}

#login-join-toggle {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#social-login {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
}

#social-login button {
    width: 160px;
    height: 30px;
}

/* Navigation */
#nav {
    margin: 20px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

#nav li {
    list-style: none;
}

#nav #nav__home, #nav #nav__profile {
    margin: 0px 15px;
    text-decoration-line: none;
    font-size: 30px;
}

#nav #nav__home:link, #nav #nav__profile:link {
    color:rgb(29, 161, 242);
}

#nav #nav__home:visited, #nav #nav__profile:visited {
    color:rgb(29, 161, 242);
}

#nav #nav__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#nav__profile span:last-child {
    color: black;
    font-size: 15px;
    font-weight: 700;
}

/* NweetFactory */
#nweet__form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nweet__form #nweet__content, #edit__form input:first-child {
    margin: 10px 0px;
    padding: 0px 10px;
    width: 350px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
}

#nweet__form #nweet__content:focus {
    outline: none;
}

#nweet__form #nweet__file {
    display: none;
}

#nweet__form #nweet__file__label {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

#nweet__file__label span {
    margin-right: 10px;
    font-weight: 800;
}

#nweet__form #nweet__submit {
    position: relative;
    margin-top: 11px;
    top: -103px;
    right: -167px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: rgb(29, 161, 242);
}

/* Nweet */
#nweet__container, #nweet_editContainer {
    margin: 20px 0px;
    background-color: white;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 15px;
}

#nweet__container #nweet__btn button, #nweet_editContainer button {
    position: relative;
    top: 5px;
    left: 315px;
    background-color: white;
    border: none;
}

#nweet__container #nweet__content {
    margin: 10px 10px;
}

#nweet__content #nweet__img {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(206, 203, 203);
}

#nweet__content h4 {
    margin: 0px;
    padding-top: 20px;
    font-weight: 500;
}

#nweet__form #nweet__imgPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nweet__imgPreview button {
    margin-top: 10px;
    border: none;
    background-color: #f6f9fc;
    display: flex;
    align-items: center;
}

#edit__container {
    margin-top: 60px;
}

#nweet__editForm input:first-child {
    margin: 10px;
    width: 292px;
    height: 30px;
    border: none;
    outline: none;
}

#nweet__editForm input:last-child {
    background-color: white;
    border: none;
    font-weight: 800;
}

#edit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit__form input:first-child {
    outline: none;
}

#edit__form input:last-child {
    position: relative;
    top: -51px;
    right: -167px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: rgb(29, 161, 242);
}

#edit__container button {
    width: 370px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 99, 126);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#edit__container button:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: rgb(248, 69, 102);
 }